services:
  mongo:
    image: mongo:latest
    ports:
      - 27017:27017
    restart: unless-stopped
    logging:
      options:
        max-size: 100m
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
      MONGO_INITDB_DATABASE: project-dev
